<svg oncontextmenu="return false" xmlns='http://www.w3.org/2000/svg' version='1.1' width='100%' ng-attr-height='{{svg.height}}' xpd-view-box="svg.viewBox"
 class="xpd-times-container">

	<g class="overlay">
		<rect class="xpd-times-bar" ng-repeat="(key, event) in times | orderBy: 'startTime'" x="10"
			ng-attr-id="{{key}}" ng-attr-y="{{ yScale(key) }}"
			ng-attr-width="{{ getBarSize(event) }}" ng-attr-height="{{ bar.height }}"
			ng-attr-fill="{{ getFillColor(event) }}" stroke="none" 
			ng-class="{'xpd-times-selected-bar':(event.id === selectedEvent.id)}" />
	</g>

	<text ng-repeat="(key, tick) in xTicks" ng-attr-x="{{ xScale(tick) }}" y="5" x="10" class="xpd-times-ticks xpd-times-tick-x">{{ tick | date : 'mm:ss' : '+0000' }}
	</text>

	<text ng-repeat="(key, tick) in yTicks" ng-attr-y="{{ yScale(tick) }}" x="5" class="xpd-times-ticks xpd-times-tick-y">{{ tick }}
	</text>

</svg>