

xpd-operation-contract-info-table {
    .float-right {
        float: right;
    } 

    .trip-unit{
        padding: 0px;
        width: 100%;
    }

    .unit-addon{
        padding: 6px 6px;
    }

}