<div class="col-md-2 col-sm-4 col-xs-4 xpd-panel">

    <div class="xpd-panel-header">
        <!-- <span class="xpd-panel-title"> -->
            Current: {{operationData.suboperationContext.currentSuboperation.type}}
        <!-- </span> -->
    </div>

    <div class="xpd-panel-body">

        <ul class="nav xpd-green-styled-box stacked" role="tablist" ng-repeat="state in operationData.suboperationContext.currentSuboperation.jointIntervals">

            <br/>

            <li role="presentation" class="planner-list-item disabled" ng-class="{'active': state.state == dados.selectedState}">
                <a>{{ state.label }}</a>
                <div class="button-bellow-label" uib-popover="Joint Interval" popover-placement="top-right" popover-trigger="'mouseenter'">{{ state.initialJoint }} - {{ state.finalJoint }}</div>
            </li>

            <li class=" planner-sum-trip-conn">
                1 TRIP + 1 CONN = {{ ( ( dados.settings[state.state].TRIP.targetTime * 1000 ) + ( dados.settings[state.state].CONN.targetTime
                * 1000 ) ) | date: 'HH:mm:ss': '+0000' }}

            </li>


            <li role="presentation" class="planner-list-item" ng-class="{'active': dados.selectedEventType == 'CONN' && state.state == dados.selectedState}"
                ng-click="pController.actionSelectActivityToPlan(state.state, 'CONN')">
                <a>Connection</a>
            </li>

            <li role="presentation" class="planner-list-item" ng-class="{'active': dados.selectedEventType == 'TRIP' && state.state == dados.selectedState}"
                ng-init="pController.initActionSelectActivityToPlan(state.state, 'TRIP')" ng-click="pController.actionSelectActivityToPlan(state.state, 'TRIP')">
                <a>Trip</a>
            </li>


        </ul>

    </div>
</div>

<div class="col-md-6 col-sm-8 col-xs-8" ng-if="( dados.settings[dados.selectedState][dados.selectedEventType].eventType != 'CONN' && dados.settings[dados.selectedState][dados.selectedEventType].eventType != 'TRIP' )">
    <div class="xpd-placeholder">
        <span class="xpd-placeholder-text" ng-if="dados.settings[dados.selectedState][dados.selectedEventType].eventType == null">Select a State/Event</span>
        <span class="xpd-placeholder-text" ng-if="dados.settings[dados.selectedState][dados.selectedEventType].eventType != null">Operation not supported due to missing parameters or state not subjected to planning</span>
    </div>
</div>

<div class="col-md-6 col-sm-8 col-xs-8 scrollable-content" ng-if="dados.settings[dados.selectedState][dados.selectedEventType].eventType == 'CONN'">
    <xpd-connection-planner label="{{ dados.settings[dados.selectedState][dados.selectedEventType].label }} " target-speed="dados.settings[dados.selectedState][dados.selectedEventType].targetSpeed"
        target-time="dados.settings[dados.selectedState][dados.selectedEventType].targetTime" optimum-speed="dados.settings[dados.selectedState][dados.selectedEventType].optimumSpeed"
        time-slices="dados.timeSlices" action-button-apply="pController.actionButtonApplyConn()" />
</div>

<div class="col-md-6 col-sm-8 col-xs-8 scrollable-content" ng-if="dados.settings[dados.selectedState][dados.selectedEventType].eventType == 'TRIP'">
    <xpd-trip-planner label="{{ dados.settings[dados.selectedState][dados.selectedEventType].label }}" target-speed="dados.settings[dados.selectedState][dados.selectedEventType].targetSpeed"
        target-time="dados.settings[dados.selectedState][dados.selectedEventType].targetTime" optimum-speed="dados.settings[dados.selectedState][dados.selectedEventType].optimumSpeed"
        displacement="dados.settings[dados.selectedState][dados.selectedEventType].displacement" vcruising="dados.settings[dados.selectedState][dados.selectedEventType].vcruising"
        optimum-safety-speed-limit="dados.settings[dados.selectedState][dados.selectedEventType].optimumSafetySpeedLimit" target-safety-speed-limit="dados.settings[dados.selectedState][dados.selectedEventType].targetSafetySpeedLimit"
        optimum-acceleration-time-limit="dados.settings[dados.selectedState][dados.selectedEventType].optimumAccelerationTimeLimit"
        target-acceleration-time-limit="dados.settings[dados.selectedState][dados.selectedEventType].targetAccelerationTimeLimit"
        optimum-deceleration-time-limit="dados.settings[dados.selectedState][dados.selectedEventType].optimumDecelerationTimeLimit"
        target-deceleration-time-limit="dados.settings[dados.selectedState][dados.selectedEventType].targetDecelerationTimeLimit"
        stick-up="operationData.operationContext.currentOperation.stickUp" upper-stop="operationData.operationContext.currentOperation.upperStop"
        slips-time="operationData.operationContext.currentOperation.inSlips" in-slips-default="operationData.operationContext.currentOperation.inSlipsDefault"
        current-operation="operationData.operationContext.currentOperation" action-button-apply="pController.actionButtonApplyTrip()"
    />
</div>

<div class="col-md-4 col-sm-12 col-xs-12 scrollable-content">

    <div class="col-md-12 xpd-chart-container h-30">

        <div class="xpd-chart-container-header">
            <p>Operation Progress</p>
        </div>
        <div class="xpd-chart-container-content" ng-if="dados.settings[dados.selectedState][dados.selectedEventType].stateName && operationData.operationProgressContext.operationProgressData[dados.settings[dados.selectedState][dados.selectedEventType].stateName]">
            <xpd-operation-progress-chart progress-data="operationData.operationProgressContext.operationProgressData[dados.settings[dados.selectedState][dados.selectedEventType].stateName]"
                progress-data-delay="operationData.operationProgressContext.progressDataDelay">
            </xpd-operation-progress-chart>
        </div>
        <div class="xpd-chart-container-content" ng-if="!dados.settings[dados.selectedState][dados.selectedEventType].stateName || !operationData.operationProgressContext.operationProgressData[dados.settings[dados.selectedState][dados.selectedEventType].stateName]">
            <div class="xpd-placeholder">
                <span class="xpd-placeholder-text">
                    No Operation Progress
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-12 xpd-chart-container h-15">

        <div class="xpd-chart-container-header">
            <p>Progress Delay</p>
        </div>
        <div class="xpd-chart-container-content">
            <div class="operation-progress-delay">
                <div class="operation-progress-delay-title">
                </div>
                <div class="operation-progress-delay-info">
                    <table class="table">
                        <tr>
                            <td ng-repeat="delayLog in operationData.operationProgressContext.progressDataDelay">
                                {{delayLog.name}}:
                                <span>{{delayLog.time | secondsToHourMinutes}}</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-12 xpd-chart-container h-30">

        <div class="xpd-chart-container-header">
            <p>{{ dados.selectedState | xpdStateLabelFilter }} Forecast</p>
        </div>

        <div class="xpd-chart-container-content">
            <xpd-forecast-line tripin="operationData.directionContext.tripin" settings="dados.settings" state="{{dados.selectedState}}"
                zoom-at-state="{{dados.selectedState}}">
            </xpd-forecast-line>
        </div>



    </div>

    <div class="col-md-12 xpd-chart-container h-30">

        <div class="xpd-chart-container-header">
            <p>{{ operationData.suboperationContext.currentSuboperation.type }} Forecast</p>
        </div>

        <div class="xpd-chart-container-content">
            <xpd-forecast-line tripin="operationData.directionContext.tripin" settings="dados.settings" state="{{dados.selectedState}}">
            </xpd-forecast-line>
        </div>

    </div>

</div>