<div class="container-fluid h-100">

    <div class="row nopadding h-100">
        <!-- h-100 -->
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 h-100 nopadding">

            <xpd-old-tracking ng-if="operationData.operationContext.currentOperation.running == true && operationData.eventContext.currentEvent != null"
                action-open-dropdown-menu="tController.actionOpenDropdownMenu(mouseEvent, eventLog)"
                action-click-event-details="tController.actionClickEventDetailsButton()" action-click-failures="tController.actionClickFailuresButton()"
                action-click-lessons-learned="tController.actionClickLessonsLearnedButton()" task-expected-duration="operationData.chronometerContext.expected"
                current-tick="operationData.chronometerContext.tick" current-operation="operationData.operationContext.currentOperation"
                current-event="operationData.eventContext.currentEvent" current-reading="operationData.readingContext.currentReading"
                current-calculated="operationData.elevatorTargetContext.currentCalculated" safety-speed-limit="operationData.elevatorTargetContext.safetySpeedLimit"
                current-time-calculated="operationData.elevatorTargetContext.currentTimeCalculated" block-speed-context="operationData.blockSpeedContext"
                changing-states-list="operationData.stateContext.changingStatesList" changing-alarms-list="operationData.alarmContext.changingAlarmsList"
                unreachable="operationData.elevatorTargetContext.unreachable" current-state="operationData.stateContext.currentState"
                connection-times="dados.connectionTimes" trip-times="dados.tripTimes" time-blocks="dados.timeBlocks"
                flags="flags">
            </xpd-old-tracking>

            <div class="xpd-placeholder" ng-if="!(operationData.operationContext.currentOperation.running == true && operationData.eventContext.currentEvent != null)" >
                <span class="xpd-placeholder-text">No running operation</span>
            </div>

        </div>

        <!-- h-100 -->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 h-100 scrollable-content tracking-side-bar">

            <div class="row nopadding h-30">

                <div class="col-md-4 h-100">
                    <xpd-score-gauge joint-data="operationData.jointContext" direction-data="operationData.directionContext"
                        number-joints="operationData.jointContext.numberJoints" current-score="operationData.scoreContext.currentScore"
                        acc-score="operationData.shiftContext.accScore">
                    </xpd-score-gauge>
                </div>

                <div class="col-md-4 h-100">

                    <div class="h-50">
                        <img class="ship-placeholder" xpd-photo-api-directive photo-api-directive-photo-name="operationData.wellContext.currentWell.rig.photoPath"
                            photo-api-directive-server-path="tripin/rig-pictures">

                        <div ng-if="operationData.operationContext.currentOperation.running" class="data-bit-depth-content">
                            <div class="data-bit-depth-title"> Bit Depth </div>

                            <div ng-if="operationData.bitDepthContext.usingXpd">
                                <div class="data-bit-depth-value" ng-if="operationData.bitDepthContext.xpdBitDepth != null">
                                    {{ operationData.bitDepthContext.xpdBitDepth | number : 2 }} m
                                </div>

                                <div class="no-bit-depth" ng-if="operationData.bitDepthContext.xpdBitDepth == null">
                                    NO XPD BIT DEPTH
                                </div>
                            </div>

                            <div ng-if="!operationData.bitDepthContext.usingXpd">
                                <div class="data-bit-depth-value" ng-if="operationData.bitDepthContext.rigBitDepth != null">
                                    {{ operationData.bitDepthContext.rigBitDepth | number : 2 }} m
                                </div>

                                <div class="no-bit-depth" ng-if="operationData.bitDepthContext.rigBitDepth == null">
                                    NO RIG BIT DEPTH
                                </div>
                            </div>

                        </div>

                        <div ng-if="operationData.eventContext.currentEvent.ssoIndicator" class="data-sso-box">
                            <div class="data-sso-indicator">SSO SIGNED</div>
                        </div>

                    </div>

                    <div class="h-50">
                        <xpd-member-performance ng-if="operationData.shiftContext.onShift[0] != null" member="operationData.shiftContext.onShift[0].member">
                        </xpd-member-performance>
                    </div>

                </div>

                <div class="col-md-4 h-100">
                    <xpd-vre-list-table vre-data="operationData.vreContext.vreData">
                    </xpd-vre-list-table>
                </div>

            </div>

            <div class="row nopadding h-35">

                <div class="xpd-chart-container">

                    <div class="xpd-chart-container-header">
                        <p>Operation Progress</p>
                    </div>

                    <div class="xpd-chart-container-content">

                        <xpd-operation-progress-chart ng-if="operationData.stateContext.currentState && operationData.operationProgressContext.operationProgressData && operationData.operationProgressContext.operationProgressData[operationData.stateContext.currentState]"
                            progress-data="operationData.operationProgressContext.operationProgressData[operationData.stateContext.currentState]"
                            progress-data-delay="operationData.operationProgressContext.progressDataDelay">
                        </xpd-operation-progress-chart>

                    </div>

                </div>

            </div>

            <div class="row nopadding h-10">

                <div class="xpd-chart-container">

                    <div class="xpd-chart-container-header">
                        <p>Progress Delay</p>
                    </div>

                    <div class="xpd-chart-container-content">
                        <div class="operation-progress-delay">
                            <div class="operation-progress-delay-title">
                            </div>
                            <div class="operation-progress-delay-info">
                                <table class="table">
                                    <tr>
                                        <td ng-repeat="delayLog in operationData.operationProgressContext.progressDataDelay">
                                            {{delayLog.name}}:
                                            <span>{{delayLog.time | secondsToHourMinutes}}</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="row nopadding h-20">

                <div class="xpd-chart-container">

                    <div class="xpd-chart-container-header">
                        <p>Alarms/Tasks</p>
                    </div>

                    <div class="xpd-chart-container-content">
                        <ul class="media-list">
                            <li class="media" ng-if="!acknowledgement.acknowledgeTime" ng-repeat="(index, acknowledgement) in acknowledgement.depthAlarms | orderBy: 'playTime'">
                                <div class="media-left">
                                    <span class="glyphicon glyphicon-download-alt"></span>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">{{ acknowledgement.alarm.name }}</h4> {{
                                    acknowledgement.alarm.message }}
                                    <br />

                                    <i>Triggered at:
                                        <strong>{{ acknowledgement.playTime | date: 'short' }}</strong>
                                    </i>
                                    <br />

                                    <i ng-if="acknowledgement.acknowledgeTime != null">Acknowledged at:
                                        <strong>{{ acknowledgement.acknowledgeTime | date: 'short' }}</strong>
                                    </i>

                                    <i ng-if="acknowledgement.acknowledgeTime == null">Not read</i>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="row nopadding h-20">

                <div class="xpd-chart-container">

                    <div class="xpd-chart-container-header">
                        <p>Messages</p>
                    </div>

                    <div class="xpd-chart-container-content">
                        <ul class="media-list">
                            <li class="media" ng-if="!acknowledgement.acknowledgeTime" ng-repeat="(index, acknowledgement) in acknowledgement.timeAlarms | orderBy: 'playTime'">
                                <div class="media-left">
                                    <span class="glyphicon glyphicon-time"></span>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">{{ acknowledgement.alarm.name }}</h4> {{
                                    acknowledgement.alarm.message }}
                                    <br />

                                    <i>Triggered at:
                                        <strong>{{ acknowledgement.playTime | date: 'short' }}</strong>
                                    </i>
                                    <br />

                                    <i ng-if="acknowledgement.acknowledgeTime != null">Acknowledged at:
                                        <strong>{{ acknowledgement.acknowledgeTime | date: 'short' }}</strong>
                                    </i>

                                    <i ng-if="acknowledgement.acknowledgeTime == null">Not read</i>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>


<xpd-operation-manager display="inline" popover-placement="bottom-right" current-event="operationData.eventContext.currentEvent"
    operation-queue='operationData.operationQueueContext.operationQueue' current-operation='operationData.operationContext.currentOperation'
    last-section='operationData.operationQueueContext.lastSection' current-state="operationData.stateContext.currentState"
    current-direction="operationData.directionContext" bit-depth-context='operationData.bitDepthContext' current-alarm="operationData.alarmContext.currentAlarm"
    action-button-start-operation='tController.actionButtonStartOperation(operation)' action-button-finish-operation='tController.actionButtonFinishOperation()'
    action-button-start-cementation="tController.actionButtonStartCementation()" action-button-stop-cementation="tController.actionButtonStopCementation()"
    action-button-start-make-up="tController.actionButtonStartMakeUp()" action-button-start-lay-down="tController.actionButtonStartLayDown()"
    action-button-finish-make-up="tController.actionButtonFinishMakeUp()" action-button-finish-lay-down="tController.actionButtonFinishLayDown()"
    action-button-finish-duration-alarm="tController.finishDurationAlarm()">

</xpd-operation-manager>