@import '~styles/font.scss';

xpd-vre-list-table {

    display: block;
    max-height: 100%;
    overflow-x: hidden;
    font-family: $font-family-1;

    .vre-log-list {
        width: 100%;
    }

    .vre-list-collapse {
        margin: 2px;
    }
    
    .xpd-vre-list {
        margin-bottom: 10px;
        color: #75b6e5;
    }
    
    .vre-log-list tr th,
    .vre-log-list tr td {
        width: 25%;
    }
    
    .vre-log-list tr th:first-child,
    .vre-log-list tr td:first-child {
        width: 50%;
    }
    
    .vre-log-list.table-bordered {
        border: 0;
    }
    
    .vre-log-list.table-bordered > tbody > tr > td,
    .vre-log-list.table-bordered > thead > tr > th {
        border-color: #578893;
    }

    .positive-vre {
        color: #75b6e5;
    }
    
    .negative-vre {
        color: #cc0505;
    }

    .general-vre-container.positive-vre {
        border: 1px solid #92d050;
    }
    
    .general-vre-container.negative-vre {
        border: 1px solid #cc0505;
    }

}