<div class="xpd-panel has-footer">

    <div class="xpd-panel-header">

        <!-- <span class="xpd-panel-title"> -->
            Settings for {{ label }}
        <!-- </span> -->

        <button ng-show="leftPercentage == 0 && settings.targetSpeed != 0" class="btn btn-default pull-right" ng-click="actionButtonApply()">Apply
        </button>

        <span ng-show="settings.targetSpeed == 0" class="planner-error-text pull-right">You must set a speed</span>

        <span ng-show="leftPercentage != 0" class="planner-error-text pull-right">You must allocated the whole time</span>
    </div>

    <div class="xpd-panel-body">

        <div class="col-md-6 col-sm-6 col-xs-6 panel conn-parameters conn-movement-time-slice-list">

            <div class="panel-heading" ng-init="selectedDirection = selectedDirection || 'tripin' ">

                <label class="radio-inline">
                    <input type="radio" name="direction" value="tripin" ng-model="selectedDirection"> Trip In</label>

                <label class="radio-inline">
                    <input type="radio" name="direction" value="tripout" ng-model="selectedDirection"> Trip Out</label>

            </div>

            <div class="panel-body">

                <div class="panel panel-default" ng-repeat="(key, item) in timeSlices[selectedDirection] track by $index">

                    <div class="panel-heading">

                        {{ item.name }}

                        <div class="btn-group pull-right" role="group" aria-label="Basic example">

                            <button ng-click="actionSwap(key, item, key - 1, timeSlices[selectedDirection][key - 1])" type="button" class="btn btn-default">
                                <i class="glyphicon glyphicon-chevron-up" aria-hidden="true"></i>
                            </button>

                            <button ng-click="actionSwap(key, item, key + 1, timeSlices[selectedDirection][key + 1])" type="button" class="btn btn-default">
                                <i class="glyphicon glyphicon-chevron-down" aria-hidden="true"></i>
                            </button>

                            <button ng-click="timeSlices[selectedDirection].splice($index, 1)" ng-disabled="!item.canDelete" type="button" class="btn btn-danger">
                                <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                            </button>

                        </div>

                    </div>

                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-12">

                                <input type="checkbox" name="moveVtarget" value="true" ng-model="item.moveVtarget" ng-click="makeMoveVtarget(item, timeSlices[selectedDirection])"> Move Top Drive

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">Duration</div>
                            <div class="col-md-6">{{ (item.percentage/100) * targetTime * 1000 | date : 'HH:mm:ss' : '+0000' }}
                            </div>
                        </div>

                    </div>

                    <div class="panel-footer">
                        <input type="range" class="form-control" ng-change="changingPercentageOf(item)" ng-model="item.percentage" step="1" min="0"
                            max="100">
                    </div>

                </div>

            </div>

        </div>

        <div class="col-md-6 col-sm-6 col-xs-6 panel conn-parameters conn-movement-ruler-representation">

            <div class="panel-heading">

                <div class="input-group">
                    <input type="text" class="form-control" ng-model="newTimeSliceName">
                    <span class="input-group-btn">
                        <button ng-click="actionButtonAddTimeSlice(timeSlices, selectedDirection, newTimeSliceName)" class="btn btn-default" type="button"
                            ng-disabled="!newTimeSliceName || newTimeSliceName.length < 0">Add Task</button>
                    </span>
                </div>

            </div>

            <div class="panel-body h-100">
                <xpd-conn-ruler vtarget-duration='targetTime' time-blocks="timeSlices[selectedDirection]">
                </xpd-conn-ruler>
            </div>

        </div>

    </div>

    <div class="xpd-panel-footer">

        <table class="table table-condensed equilibrium-time-table">
            <thead>
                <tr>
                    <th class="equilibrium-time-table-title" colspan="3">Connection Time</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="equilibrium-time-table-label">Optimum Speed (joint/h)</th>
                    <th class="equilibrium-time-table-label">Time</th>
                    <th class="equilibrium-time-table-label">Target Speed (joint/h)</th>
                </tr>
                <tr>
                    <td class="equilibrium-time-table-text">{{ optimumSpeed * 3600 | number: 2 }}
                    </td>
                    <td class="equilibrium-time-table-text">{{ targetTime * 1000 | date : 'HH:mm:ss' : '+0000' }}
                    </td>
                    <td class="equilibrium-time-table-text">{{ targetSpeed * 3600 | number: 2 }}
                    </td>
                </tr>

            </tbody>

            <tfoot>
                <tr>
                    <td colspan="3">
                        <input type="range" step="0.00001" class="form-control" ng-model="targetSpeed" min="0" max="{{ 4 *  optimumSpeed   }}">
                    </td>
                </tr>
            </tfoot>

        </table>
    </div>

</div>