<nav class="navbar navbar-default navbar-fixed-top dmec-navbar">

    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">Drilling Mechanics </a>
        </div>

        <form class="navbar-form navbar-left">

            <uib-accordion>

                <div uib-accordion-group class="panel-default" is-open="status.isCustomHeaderOpen">

                    <uib-accordion-heading>
                        Settings

                        <span class="well well-sm">
                            <strong>DMEC is starting at</strong> {{ dmecTrackingStartAt | date:'medium' }}
                        </span>

                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isCustomHeaderOpen, 'glyphicon-chevron-right': !status.isCustomHeaderOpen}">

                        </i>

                    </uib-accordion-heading>

                    <form name="inputRange.form">

                        <div class="checkbox">
                            <label>
                                <input name="realtime" ng-model="inputRangeForm.realtime" type="checkbox"> Real Time
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="keepZoomAtTheEnd" ng-model="inputRangeForm.keepZoomAtTheEnd" type="checkbox">                                Keep
                                zoom at the end
                            </label>
                        </div>

                        <div ng-if="!inputRangeForm.realtime">

                            <div class="form-group">
                                <label for="startTime">From:</label>
                                <input ng-model="inputRangeForm.startTime" type="datetime-local" class="form-control" required name="startTime" id="startTime">
                            </div>

                        </div>

                        <div ng-if="inputRangeForm.realtime">

                            <div class="form-group">
                                <label for="last">Last:</label>
                                <input ng-model="inputRangeForm.last" type="number" class="form-control" required name="last" id="last">
                            </div>

                            <div class="form-group">
                                <select ng-model="inputRangeForm.toMilliseconds" class="form-control" required name="toMilliseconds" id="toMilliseconds">
                                    <option value="86400000">Days</option>
                                    <option value="3600000">Hours</option>
                                    <option value="60000">Minutes</option>
                                    <option value="1000">Seconds</option>
                                </select>
                            </div>

                        </div>

                        <button type="submit" ng-click="actionButtonSubmitDmecRange()" ng-disabled="inputRange.form.$invalid" class="btn btn-default">Submit</button>

                    </form>
                </div>

            </uib-accordion>


        </form>

    </div>

</nav>

<xpd-dmec-chart 
    ng-if="dmecTrackingStartAt && zoomStartAt && zoomEndAt" 
    threads="4" 
    horizontal="false" 
    select-on-hover="true"
    on-reading-since="onReadingSince" 
    actual-start-at="dmecTrackingStartAt" 
    on-reading="onReading" 
    zoom-start-at="zoomStartAt"
    zoom-end-at="zoomEndAt" 
    set-selected-point="setSelectedPoint(position)"
    last-selected-point="lastSelectedPoint" 
    ng-dblclick="openScaleModal()"
    remove-marker="removeMarker">
</xpd-dmec-chart>

<rzslider 
    rz-slider-model="zoomStartAt"
    rz-slider-high="zoomEndAt"
    rz-slider-options="slider.options">
</rzslider>