<div class="panel panel-default">

    <div class="panel-heading">

        <table class="table table-sm table-striped table-hover table-condensed section-list-table">

            <thead>

                <tr>

                    <th>Section Name</th>

                    <th>Size (in)</th>

                    <th>MD Top (m)</th>

                    <th>MD Bottom (m)</th>

                    <th>Section Actions</th>

                </tr>

            </thead>

            <tbody ng-init="openedSection = (section.current)?true:openedSection">

                <tr>

                    <td class="section-list-label-name" id="setup-section-list-label-name-{{index}}">
                        <strong>{{ section.name }}</strong>
                        <i ng-if="!section.currentable" class="text-right">Unreachable</i>
                    </td>

                    <td class="section-list-label-size" id="setup-section-list-label-size-{{index}}">{{ section.size }}</td>
                    <td class="section-list-label-mdTop" id="setup-section-list-label-mdTop-{{index}}">{{ section.mdTop }}</td>
                    <td class="section-list-label-mdBottom" id="setup-section-list-label-mdBottom-{{index}}">{{ section.mdBottom }}</td>

                    <td class="section-list-label-action"  >
                        <button ng-click="swapSection({ section1: lastSection, section2: section })" class='btn btn-sm btn-default glyphicon glyphicon-chevron-up'
                            id="setup-section-list-move-section-up-{{index}}" ng-disabled="!section.currentable"></button>

                        <button ng-click="swapSection({ section1: nextSection, section2: section })" class='btn btn-sm btn-default glyphicon glyphicon-chevron-down'
                            id="setup-section-list-move-section-down-{{index}}" ng-disabled="!section.currentable"></button>

                        <button id="setup-section-list-{{openedSection?'hide':'show'}}-section-operations-{{index}}" class="btn btn-sm btn-info button-show-hide-operation"
                            data-target="#accordion-{{ section.id }}-{{ index }}" ng-click="openedSection = (openedSection == false || openedSection == null)? true : false">
                            {{openedSection?'HIDE':'SHOW'}} OPERATIONS
                        </button>

                        <button id="setup-section-list-edit-section-{{index}}" class="btn btn-sm btn-default button-edit" ng-click="actionButtonEditSection({ section })"
                            ng-disabled="!section.currentable">EDIT
                        </button>

                        <button id="setup-section-list-remove-section-{{index}}" class="btn btn-sm btn-danger" ng-click="actionButtonRemoveSection({ section })"
                            ng-disabled="!section.currentable">REMOVE
                        </button>

                    </td>

                </tr>

            </tbody>

        </table>
    </div>

    <div class="panel-body">

        <xpd-operation-list ng-show="openedSection" id="accordion-{{ section.id }}-{{ index }}" index="index+1" section="section"
            operations="operations" well="well" current-well="currentWell" action-button-make-current="actionButtonMakeCurrent({ operation })"
            action-button-add-operation="actionButtonAddOperation({ type, section })" action-button-edit-operation="actionButtonEditOperation({ section, operation })"
            action-button-remove-operation="actionButtonRemoveOperation({ operation })" swap-operation="swapOperation({operation1, operation2})">
        </xpd-operation-list>

    </div>

</div>