<nav class="navbar navbar-default navbar-fixed-top">

	<div class="container-fluid">

		<div class="btn-group">

			<button type="button" class="btn btn-primary xpd-nav-button" id="nav-bar-access-factory">
				<xpd-access-factory-directive>Config</xpd-access-factory-directive>
			</button>

			<button type="button" class="btn btn-primary dropdown-toggle xpd-nav-button" uib-dropdown is-open="status.isopen" uib-dropdown-toggle
			 href="#" id="nav-bar-menu" disabled="true">

				Menu
				<span class="caret"></span>

				<ul class="dropdown-menu">

					<li>
						<a ng-click="onclickItemMenu('/admin.html#/menu')" id="nav-bar-menu-control-panel">Control Panel</a>
					</li>
					<li>
						<a ng-click="onclickItemMenu('/admin.html#/menu/data-acquisition')" id="nav-bar-menu-data-acquisition">Data Acquisition</a>
					</li>
					<li>
						<a ng-click="onclickItemMenu('/admin.html#/menu/failure-delay-category')" id="nav-bar-menu-categories-failure">Categories (Failure / Delay)</a>
					</li>
					<li>
						<a ng-click="onclickItemMenu('/admin.html#/menu/lesson-learned-category')" id="nav-bar-menu-categories-lessons">Categories (Lessons Learned)</a>
					</li>

				</ul>

			</button>

			<button type="button" class="btn btn-primary xpd-nav-button" ng-click="onclickItemMenu('/setup.html#/')" id="nav-bar-setup" disabled="true">Setup
			</button>


			<button type="button" class="btn btn-primary xpd-nav-button" ng-click="onclickItemMenu('/admin.html#/team')" id="nav-bar-team" disabled="true">Team
			</button>


			<!-- <button type="button" class="btn btn-primary xpd-nav-button" ng-click="onclickItemMenu('/admin.html#/shift-report/')" id="nav-bar-rpd">RPD
			</button> -->


			<button type="button" class="btn btn-primary dropdown-toggle xpd-nav-button" uib-dropdown is-open="flags.isopen" uib-dropdown-toggle
			 href="#" id="nav-bar-operation">

				Operation
				<span class="caret"></span>

				<ul class="dropdown-menu">
					<li>
						<a ng-click="onclickItemMenu('/admin.html#/')" id="nav-bar-operation-tracking">Tracking</a>
					</li>
					<li ng-if="hasRunningOperation">
						<a ng-click="onclickItemMenu('/admin.html#/planner')" id="nav-bar-operation-planner">Planner</a>
					</li>
					<li ng-if="hasRunningOperation">
						<a ng-click="onclickItemMenu('/admin.html#/operation-dashboard')" id="nav-bar-operation-operation-dashboard">Dashboard</a>
					</li>
					<li ng-if="hasRunningOperation"> 
						<a ng-click="onclickItemMenu('/admin.html#/alarm')" id="nav-bar-operation-alarm">Alarm</a>
					</li>
					<li>
						<a ng-click="onclickItemMenu('/dmec-log.html#/', true)" id="nav-bar-operation-dmec">D. Mech. Log</a>
					</li>
				</ul>

			</button>

			<button type="button" class="btn btn-primary xpd-nav-button" ng-click="onclickItemMenu('/reports.html#/', true)" id="nav-bar-reports" disabled="true">Reports
			</button>

			<xpd-failure-nav-bar></xpd-failure-nav-bar>

		</div>

	</div>

</nav>