@import '~styles/font.scss';

xpd-admin-nav-bar {

	border-color: transparent;
	
	 .navbar {
		background: url('./../../../assets/img/bg.png');
		border: 0;
	}

	 .navbar,
	 .xpd-nav-button {
		background-color: transparent;
	}
		
	 .xpd-nav-button:focus,
	 .xpd-nav-button:hover {
		background-color: #456c75;
		color: white;
	}

	 .xpd-nav-button {
		color: #456c75;
	}

	 .xpd-nav-button {
        height: 57px;
		border: 2px solid #456c75;
		padding: 15px;
		font-family: $font-family-1;
		font-size: 1.3em;
		font-weight: bolder;
		color: #456c75;
	}

}