<div class="container">
    <a class="btn btn-sm btn-primary pull-right" href="#/team/members">Show Team</a>
</div>

<div class="member-scheduler-setup-container">
    <div class="member-scheduler-setup-months">
        <div class="member-scheduler-setup-year">
            <span class="glyphicon glyphicon-chevron-left" ng-click="memberSchedulerController.actionButtonSchedulerSetupYear(-1)"></span>
            {{schedulerSetup.selectedYear}}
            <span class="glyphicon glyphicon-chevron-right" ng-click="memberSchedulerController.actionButtonSchedulerSetupYear(+1)"></span>
        </div>
        <button class="btn btn-sm" ng-repeat="month in schedulerSetup.monthNames" ng-class="$index == schedulerSetup.selectedMonth?'btn-primary active':'btn-default'"
            ng-click="memberSchedulerController.actionButtonSchedulerSetupMonth($index)">
            {{month}}
        </button>

        <div class="btn-group" role="group">
            <button type="button" class="btn btn-sm" ng-class="!schedulerSetup.monthlyView?'btn-primary active':'btn-default'" ng-click="memberSchedulerController.actionButtonDayMode();">
                Day
            </button>
            <button type="button" class="btn btn-sm" ng-class="schedulerSetup.monthlyView?'btn-primary active':'btn-default'" ng-click="memberSchedulerController.actionButtonMonthMode();">
                Month
            </button>
        </div>

        <button class="btn btn-sm" ng-class="schedulerSetup.showOnlyScheduledMembers?'btn-primary active':'btn-default'" ng-click="memberSchedulerController.actionButtonOnlyScheduled()">
            Only Scheduled
        </button>
    </div>

    <div class="agenda-setup-days" ng-show="!schedulerSetup.monthlyView">

        <button class="btn btn-sm" ng-repeat="day in schedulerSetup.dateRange track by $index" ng-click="memberSchedulerController.actionButtonSchedulerSetupDay($index + 1)"
            ng-class="( ($index + 1) == schedulerSetup.referenceDate.getDate()
							&& schedulerSetup.selectedMonth == schedulerSetup.referenceDate.getMonth() ) ? 'btn-primary active' : 'btn-default'">
            {{$index + 1}}
        </button>

    </div>
</div>

<xpd-member-scheduler  schedule-list="dados.scheduleList" schedule-actions="schedulerActions"
    id="gantt_here" reference-date="schedulerSetup.referenceDate" monthly-view="schedulerSetup.monthlyView">
</xpd-member-scheduler>