/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
    border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(81,127,137, 0.5); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(81,127,137, 1); 
}