<div 
    class="container-fluid" 
    ng-controller="AlarmInfoController as alarmInfoController">

    <div class="row">

        <div class="col-md-6">

            <div class="alarm-panel panel panel-default">

                <div class="panel-heading">
                    <h4 class="panel-tile">Alarms
                        <a class='pull-right' ng-click='showArchived = !showArchived'> {{ showArchived?'hide':'show' }} archive</a>
                    </h4>
                </div>

                <div class="panel-body">

                    <div class="list-group alarm-list-group">

                        <xpd-saved-alarms-list
                            heading="Defaults"
                            popover="Archive"
                            alarms-list="alarms.defaultAlarms"
                            show-archived="showArchived != true"
                            buttom-icon="glyphicon-inbox"
                            alarms-to-import="alarms.alarmToImport"
                            action-click-button="alarmInfoController.actionButtonArchive(alarm)"
                            action-import-button="alarmInfoController.actionButtonImport(alarm)">
                        </xpd-saved-alarms-list>

                        <xpd-saved-alarms-list
                            heading="History"
                            popover="Archive"
                            alarms-list="alarms.historyAlarms"
                            show-archived= "showArchived != true"
                            buttom-icon="glyphicon-inbox"
                            alarms-to-import="alarms.alarmToImport"
                            action-click-button="alarmInfoController.actionButtonArchive(alarm)"
                            action-import-button="alarmInfoController.actionButtonImport(alarm)">
                        </xpd-saved-alarms-list>

                        <xpd-saved-alarms-list
                            heading="Archived"
                            popover="Unarchive"
                            alarms-list="alarms.archivedAlarms"
                            show-archived= "showArchived == true"
                            buttom-icon="glyphicon-transfer"
                            action-click-button="alarmInfoController.actionButtonUnarchive(alarm)">
                        </xpd-saved-alarms-list>

                    </div>

                </div>

            </div>

        </div>

        <div class="col-md-6">
            <div class="alarm-panel panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-tile">Added alarms/tasks
                        <button id="alarm-info-add-alarm" class="btn btn-sm btn-success pull-right" ng-click="alarmInfoController.actionButtonAddAlarm()">
                            <span class="glyphicon glyphicon-plus"></span> Alarm
                        </button>
                    </h4>
                </div>

                <div class="panel-body">
                    <div class="list-group alarm-list-group">

                        <a class="list-group-item disabled"  ng-if="dados.operation.type != 'time'">
                            <h4 class="list-group-item-heading">
                                <span class="glyphicon glyphicon-hourglass" ></span> / 
                                <span class="glyphicon glyphicon-scale" ></span>
                                Depth <span class="badge pull-right">{{(dados.operation.alarms | filter:{ enabled: true, alarmType: 'depth'}).length}}</span>
                            </h4>
                        </a>

                        <table class="table alarm-panel panel panel-default alarm-list-table" ng-if='showArchived != true'>
                            <thead>
                                <tr>
                                    <th>Desc.</th>
                                    <th>Name</th>
                                    <th class="text-center">Exclude from performance?</th>  
                                    <th>Start at - Finish at</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="alarm in dados.operation.alarms | filter:{ enabled: true, alarmType: 'depth'} | orderBy: 'startDepth'">
                                    
                                    <td>
                                        <span class="glyphicon glyphicon-arrow-down" ng-if="alarm.tripin && !alarm.tripout" uib-popover="Trip In Direction" popover-trigger="'mouseenter'"></span>
                                        <span class="glyphicon glyphicon-arrow-up" ng-if="!alarm.tripin && alarm.tripout" uib-popover="Trip Out Direction" popover-trigger="'mouseenter'"></span>
                                        <span class="glyphicon glyphicon-sort" ng-if="alarm.tripin && alarm.tripout" uib-popover="Trip In/Out Direction" popover-trigger="'mouseenter'"></span>
                                        -
                                        <span class="glyphicon glyphicon-hourglass" uib-popover="Duration Alarm" popover-trigger="'mouseenter'" ng-if="alarm.isDurationAlarm"></span>
                                        <span class="glyphicon glyphicon-scale" uib-popover="Speed Restriction Alarm" popover-trigger="'mouseenter'" ng-if="!alarm.isDurationAlarm"></span>
                                    </td>

                                    <td id="depth-alarm-info-data-name-{{$index + 1}}">
                                        {{alarm.name}}
                                    </td>

                                    <td id="depth-alarm-info-data-hasvre-{{$index + 1}}">
                                        <p class="text-center">{{ alarm.hasvre? 'No':'Yes' }}</p>
                                        <!-- <em class="text-right">{{ alarm.hasvre? 'No':'Yes' }} </em> -->
                                    </td>

                                    <td id="depth-alarm-info-data-startDepth-{{$index + 1}}">
                                        {{alarm.startDepth | number:2}} (m) - {{alarm.endDepth | number:2}} (m)
                                    </td>

                                    <td>
                                        <button id="depth-alarm-info-remove-alarm-{{$index + 1}}"
                                            type="button"
                                            ng-click='alarmInfoController.actionButtonRemoveAlarm(alarm)'
                                            class='btn btn-sm btn-warning'
                                            uib-popover="Remove Alarm"
                                            popover-trigger="'mouseenter'">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>

                                        <button id="depth-alarm-info-edit-alarm-{{$index + 1}}"
                                            type="button"
                                            ng-click='alarmInfoController.actionButtonEditAlarm(alarm)'
                                            class='btn btn-sm btn-primary'
                                            uib-popover="Edit Alarm"
                                            popover-trigger="'mouseenter'">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>

                        <a class="list-group-item disabled">
                            <h4 class="list-group-item-heading">
                                <span class="glyphicon glyphicon-time"></span>
                                Time <span class="badge pull-right">{{(dados.operation.alarms | filter:{ enabled: true, alarmType: 'time'}).length}}</span>
                            </h4>
                        </a>

                        <table class="table alarm-panel panel panel-default alarm-list-table" ng-if='showArchived != true'>
                            <thead>
                                <tr>
                                    <th>Desc.</th>
                                    <th>Name</th>
                                    <th>Start at - Finish at</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="alarm in dados.operation.alarms | filter:{ enabled: true, alarmType: 'time'} | orderBy: 'startTime'">

                                    <td>
                                        <span class="glyphicon glyphicon-time" uib-popover="Time Alarm" popover-trigger="'mouseenter'"></span>
                                    </td>

                                    <td id="time-alarm-info-data-name-{{$index + 1}}">
                                        {{alarm.name}}
                                    </td>

                                    <td id="time-alarm-info-data-endTime-{{$index + 1}}">
                                        {{alarm.startTime | date:'M/d/yy h:mm a'}} - {{alarm.endTime | date:'M/d/yy h:mm a'}}
                                    </td>

                                    <td>
                                        <button id="time-alarm-info-remove-alarm-{{$index + 1}}"
                                            type="button"
                                            ng-click='alarmInfoController.actionButtonRemoveAlarm(alarm)'
                                            class='btn btn-sm btn-warning'
                                            uib-popover="Remove Alarm"
                                            popover-trigger="'mouseenter'">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>

                                        <button id="time-alarm-info-edit-alarm-{{$index + 1}}"
                                            type="button"
                                            ng-click='alarmInfoController.actionButtonEditAlarm(alarm)'
                                            class='btn btn-sm btn-primary'
                                            uib-popover="Edit Alarm"
                                            popover-trigger="'mouseenter'">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- <div class="panel-footer">
                    <a class="btn btn-primary" ng-click="alarmInfoController.actionButtonAddAlarm()"> <i class="glyphicon glyphicon-plus"></i> New Alarm/Task </a>
                </div> -->

            </div>
        </div>

    </div>

</div>
