<form name="operationController.info">

    <div class="col-md-4">

        <div class="panel panel-default">

            <div class="panel-body">

                <div class="form-group" ng-class="{ 'has-error': operationController.info.name.$invalid  && !operationController.info.name.$pristine }">

                    <label for="name">Name*</label>

                    <input type="text" class="form-control input-sm"
                        id="operation-general-info-data-name"
                        ng-model="dados.operation.name"
                        name="name" maxlength="30"
                        xpd-form-validation="operationController.info"
                        required>
                </div>

                <xpd-setup-form-input
                    form-name= "operationController.info"
                    label= "Stick Up"
                    xpd-popover-html="htmlPopover"
                    xpd-popover-trigger="mouseenter"
                    xpd-popover-placement="right"
                    type = "number"
                    min = "0"
                    max = "dados.operation.upperStop"
                    model= "dados.operation"
                    name= "stickUp"
                    required= "true"
                    unit= "m">
                </xpd-setup-form-input>

                <xpd-setup-form-input
                    form-name = "operationController.info"
                    label = "Upper Stop"
                    type = "number"
                    min = "dados.operation.stickUp"
                    max= "20000"
                    model = "dados.operation"
                    name = "upperStop"
                    required = "true"
                    unit = "m">
                </xpd-setup-form-input>

                <xpd-setup-form-input
                    form-name = "operationController.info"
                    label = "Put Slips Time"
                    xpd-popover="The time it takes to grip and hold the upper part of a drill string"
                    xpd-popover-trigger="mouseenter"
                    type = "number"
                    min = "0"
                    max= "20000"
                    model = "dados.operation"
                    change="operationController.bhaFormCalcs(param)"
                    name = "inSlips"
                    required = "true"
                    unit = "sec">
                </xpd-setup-form-input>

                <xpd-setup-form-input
                    form-name = "operationController.info"
                    label = "Block Weight"
                    type = "number"
                    min = "0"
                    max= "20000"
                    model = "dados.operation"
                    name = "blockWeight"
                    required = "true"
                    unit = "klb">
                </xpd-setup-form-input>

                <xpd-setup-form-input
                    form-name = "operationController.info"
                    label = "Slips Threshold"
                    xpd-popover-html="htmlSlipsThreshold"
                    xpd-popover-trigger="mouseenter"
                    xpd-popover-placement="top"
                    type = "number"
                    min = "0"
                    max= "20000"
                    model = "dados.operation"
                    name = "slipsThreshold"
                    required = "true"
                    unit = "klb">
                </xpd-setup-form-input>

            </div>
        </div>

    </div>

    <div class="col-md-4">

        <div class="panel panel-default">

            <div class="panel-body">

                <xpd-setup-form-input
                    form-name = "operationController.info"
                    xpd-popover="The bit depth where the operation is planned to start at"
                    xpd-popover-trigger="mouseenter"
                    label = "Start Operation Depth"
                    type = "number"
                    min = "0"
                    max= "20000"
                    model = "dados.operation"
                    name = "startBitDepth"
                    required = "true"
                    unit = "m">
                </xpd-setup-form-input>

                <xpd-setup-form-input
                    form-name = "operationController.info"
                    label = "Average DP Length"
                    type = "number"
                    min = "1"
                    max= "20000"
                    model = "dados.operation"
                    change="operationController.bhaFormCalcs(param)"
                    name = "averageDPLength"
                    required="true"
                    unit = "m">
                </xpd-setup-form-input>

                <div class="form-group"
                     ng-class="{ 'bg-danger': operationController.info.numberOfDPPerStand.$invalid  && !operationController.info.numberOfDPPerStand.$pristine }">

                    <label for="numberOfDPPerStand">Number of DP per Stand*

                    </label>

                    <div class="input-group" >

                        <label class="radio-inline" ng-repeat="key in [1, 2, 3, 4] track by $index">

                            <input id="operation-general-info-data-numberOfDPPerStand-{{$index + 1}}"
                                type="radio" name="numberOfDPPerStand" ng-model="dados.operation.numberOfDPPerStand"
                                ng-value="key" ng-change="operationController.bhaFormCalcs('numberOfDPPerStand')"
                                required ng-checked="(dados.operation.numberOfDPPerStand == key)"> {{key}}

                        </label>

                    </div>

                </div>

                <xpd-setup-form-input
                    form-name = "operationController.info"
                    label = "Average Stand Length"
                    xpd-popover="Average DP Length x Number of DP per Stand"
                    xpd-popover-trigger="mouseenter"
                    type = "number"
                    min = "1"
                    max= "20000"
                    model = "dados.operation"
                    name = "averageStandLength"
                    disabled="true"
                    unit = "m">
                </xpd-setup-form-input>

                <xpd-setup-form-input
                    form-name = "operationController.info"
                    label = "BHA Length"
                    type = "number"
                    min = "0"
                    max= "dados.operation.endBitDepth"
                    model = "dados.operation"
                    change="operationController.bhaFormCalcs(param)"
                    name = "length"
                    required = "true"
                    unit = "m">
                </xpd-setup-form-input>

                <xpd-setup-form-input
                    form-name = "operationController.info"
                    label = "Number of Stands"
                    xpd-popover="(End Bit Depth - BHA Length) / Average Stand Length"
                    xpd-popover-trigger="mouseenter"
                    type = "number"
                    min = "0"
                    max= "20000"
                    model = "dados.operation"
                    change="operationController.bhaFormCalcs(param)"
                    name = "numberOfJoints"
                    required="true">
                </xpd-setup-form-input>

                <xpd-setup-form-input
                    form-name = "operationController.info"
                    label = "End Bit Depth"
                    xpd-popover="BHA Length + (Average Stand Length x Number of stands)"
                    xpd-popover-trigger="mouseenter"
                    type = "number"
                    min = "0"
                    max= "20000"
                    model = "dados.operation"
                    change="operationController.bhaFormCalcs(param)"
                    name = "endBitDepth"
                    required="true"
                    unit = "m">
                </xpd-setup-form-input>

            </div>

        </div>
    </div>

    <div class="col-md-4">

        <div class="panel panel-default">

            <div class="panel-body">

                <xpd-setup-form-input
                    form-name = "operationController.info"
                    label = "Last Section Shoe Depth"
                    type = "number"
                    min = "well.waterDepth + well.airGap"
                    max= "20000"
                    model = "dados.operation"
                    name = "shoeDepth"
                    required="true"
                    unit="m">
                </xpd-setup-form-input>

                <!-- max = "dados.operation.endBitDepth" -->
                <xpd-setup-form-input
                    form-name = "operationController.info"
                    label = "Hole Depth"
                    type = "number"
                    min = "dados.operation.shoeDepth"
                    model = "dados.operation"
                    name = "startHoleDepth"
                    change="operationController.bhaFormCalcs(param)"
                    required = "true"
                    unit = "m">
                </xpd-setup-form-input>

                <xpd-setup-form-input
                    form-name = "operationController.info"
                    label = "Top Drive Safety Speed Limit"
                    type = "number"
                    min = "0"
                    max= "20000"
                    model = "dados.operation"
                    name = "safetySpeedLimit"
                    required="true"
                    unit="m/h">
                </xpd-setup-form-input>

        </div>
    </div>

</form>
