<form name="operationController.info">

    <div class="col-md-4">

        <div class="panel panel-default">

            <div class="panel-body">

                <div class="form-group" ng-class="{ 'has-error': operationController.info.name.$invalid  && !operationController.info.name.$pristine }">

                    <label for="name">Name*</label>

                    <input type="text" class="form-control input-sm"
                        id="operation-general-info-data-name"
                        ng-model="dados.operation.name"
                        name="name" maxlength="30"
                        xpd-form-validation="operationController.info"
                        required>
                </div >

                <xpd-setup-form-input
                    form-name = "operationController.info"
                    label = "Stick Up"
                    xpd-popover-html="htmlPopover"
                    xpd-popover-trigger="mouseenter"
                    xpd-popover-placement="right"
                    type = "number"
                    min = "0"
                    max = "dados.operation.upperStop"
                    model = "dados.operation"
                    change="operationController.validateOperationLimit(param)"
                    name = "stickUp"
                    required = "true"
                    unit = "m">
                </xpd-setup-form-input>

                <xpd-setup-form-input
                    form-name = "operationController.info"
                    label = "Upper Stop"
                    type = "number"
                    min = "dados.operation.stickUp"
                    max= "20000"
                    model = "dados.operation"
                    change="operationController.validateOperationLimit(param)"
                    name = "upperStop"
                    required = "true"
                    unit = "m">
                </xpd-setup-form-input>

                <xpd-setup-form-input
                    form-name = "operationController.info"
                    label = "Put Slips Time"
                    xpd-popover-html="htmlPopover"
                    xpd-popover-trigger="mouseenter"
                    xpd-popover-placement="right"
                    type = "number"
                    min = "0"
                    max= "20000"
                    model = "dados.operation"
                    change="dados.operation.inSlipsDefault = dados.operation.inSlips"
                    name = "inSlips"
                    required = "true"
                    unit = "sec">
                </xpd-setup-form-input>

                <xpd-setup-form-input
                    form-name = "operationController.info"
                    label = "Block Weight"
                    type = "number"
                    min = "0"
                    max= "20000"
                    model = "dados.operation"
                    name = "blockWeight"
                    required = "true"
                    unit = "klb">
                </xpd-setup-form-input>

                <xpd-setup-form-input
                    form-name = "operationController.info"
                    label = "Slips Threshold"
                    type = "number"
                    min = "0"
                    max= "20000"
                    model = "dados.operation"
                    name = "slipsThreshold"
                    required = "true"
                    unit = "klb">
                </xpd-setup-form-input>

                <xpd-setup-form-input
                    form-name = "operationController.info"
                    label = "Casing Diameter"
                    type = "number"
                    min = "0"
                    max= "20000"
                    model = "dados.operation"
                    name = "casingDiameter"
                    required = "true"
                    unit = "in">
                </xpd-setup-form-input>

            </div>
        </div>
    </div>

    <div class="col-md-4">

        <div class="panel panel-default">

            <div class="panel-body">

                <xpd-setup-form-input
                    form-name = "operationController.info"
                    xpd-popover="Usually 0"
                    xpd-popover-trigger="mouseenter"
                    label = "Start Operation Depth"
                    type = "number"
                    min = "0"
                    max= "20000"
                    model = "dados.operation"
                    name = "startBitDepth"
                    required = "true"
                    unit = "m">
                </xpd-setup-form-input>

                <xpd-setup-form-input
                    form-name = "operationController.info"
                    label = "Average Casing Joint Length"
                    type = "number"
                    min = "0"
                    max= "20000"
                    model = "dados.operation"
                    change="operationController.casingFormCalcs(param)"
                    name = "averageJointLength"
                    required = "true"
                    unit = "m">
                </xpd-setup-form-input>

                <div class="form-group" ng-class="{ 'bg-danger': operationController.info.numberOfCasingJointsPerSection.$invalid  && !operationController.info.numberOfCasingJointsPerSection.$pristine }">

                    <label for="numberOfCasingJointsPerSection">Number of Casing Joints per Stand*

                    </label>

                    <div class="input-group">

                        <label class="radio-inline" ng-repeat="key in [1, 2, 3] track by $index">

                            <input id="operation-general-info-data-numberOfCasingJointsPerSection-{{$index + 1}}"
                                type="radio" name="numberOfCasingJointsPerSection"
                                ng-model="dados.operation.numberOfCasingJointsPerSection" ng-value="key"
                                ng-change="operationController.casingFormCalcs('numberOfCasingJointsPerSection')"
                                required ng-checked="(dados.operation.numberOfCasingJointsPerSection == key)"> {{key}}

                        </label>

                    </div>
                    <p ng-if="operationController.info.numberOfCasingJointsPerSection.$invalid  && !operationController.info.numberOfCasingJointsPerSection.$pristine" class="text-danger">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>Please, set Number of Casing Joints per Stand
                    </p>

                </div>

                <div class="form-group" ng-class="{ 'has-error': operationController.info.metaType.$invalid  && !operationController.info.metaType.$pristine }">

                    <label for="metaType">Casing Size/Type:*</label>

                    <select id="operation-general-info-data-casingTypeSizeItems"
                        class="form-control input-sm" name="metaType" ng-model="dados.operation.metaType"
                        ng-options="item.id as item.label for item in casingTypeSizeItems"
                        ng-change="operationController.actionSelectCasingType()"
                        required>
                    </select>

                    <!-- <span ng-show="operationController.info.metaType.$error.required">Required</span> -->
                    <p ng-if="operationController.info.numberOfCasingJointsPerSection.$invalid  && !operationController.info.numberOfCasingJointsPerSection.$pristine" class="text-danger">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>Please, set Casing Size/Type
                    </p>

                </div>

                <xpd-setup-form-input
                    form-name = "operationController.info"
                    label = "Average Casing Stand Length"
                    xpd-popover="Average Casing Joint Length x Number of Casing Joints per Section"
                    xpd-popover-trigger="mouseenter"
                    type = "number"
                    min = "0"
                    max= "20000"
                    model = "dados.operation"
                    name = "averageSectionLength"
                    disabled = "true">
                </xpd-setup-form-input>

                <xpd-setup-form-input
                    form-name = "operationController.info"
                    label = "Number of Casing Stands"
                    xpd-popover="Total Casing Length / Average Casing Section Length"
                    xpd-popover-trigger="mouseenter"
                    type = "number"
                    min = "0"
                    max= "20000"
                    model = "dados.operation"
                    change="operationController.casingFormCalcs(param)"
                    name = "numberOfCasingSections"
                    required = "true">
                </xpd-setup-form-input>

                <xpd-setup-form-input
                    form-name = "operationController.info"
                    label = "Total Casing Length"
                    xpd-popover="Number of Casing Sections x Average Casing Section Length"
                    xpd-popover-trigger="mouseenter"
                    type = "number"
                    min = "0"
                    max= "dados.operation.endBitDepth"
                    model = "dados.operation"
                    change="operationController.casingFormCalcs(param)"
                    name = "length"
                    required = "true"
                    unit = "m">
                </xpd-setup-form-input>

                <xpd-setup-form-input
                    form-name = "operationController.info"
                    label = "Hole Depth"
                    type = "number"
                    min = "well.waterDepth + well.airGap"
                    max= "20000"
                    model = "dados.operation"
                    change="operationController.casingFormCalcs(param)"
                    name = "holeDepth"
                    required = "true"
                    unit = "m">
                </xpd-setup-form-input>

                <xpd-setup-form-input
                    form-name = "operationController.info"
                    label = "Rat hole"
                    type = "number"
                    min = "0"
                    max= "20000"
                    model = "dados.operation"
                    change="operationController.casingFormCalcs(param)"
                    name = "ratHole"
                    required = "true"
                    unit = "m">
                </xpd-setup-form-input>

                <xpd-setup-form-input
                    form-name = "operationController.info"
                    label = "End Bit Depth"
                    xpd-popover="Hole Depth - Rat Hole"
                    xpd-popover-trigger="mouseenter"
                    type = "number"
                    min = "0"
                    max= "20000"
                    model = "dados.operation"
                    name = "endBitDepth"
                    disabled="true"
                    unit = "m">
                </xpd-setup-form-input>

            </div>
        </div>
    </div>

    <div class="col-md-4">

        <div class="panel panel-default">

            <div class="panel-body">

                <xpd-setup-form-input
                    form-name = "operationController.info"
                    label = "Settlement string size"
                    xpd-popover="End Bit Depth - (Total Casing Length + Rat hole)"
                    xpd-popover-trigger="mouseenter"
                    type = "number"
                    min = "0"
                    max= "20000"
                    model = "dados.operation"
                    name = "settlementStringSize"
                    disabled="true"
                    unit = "m">
                </xpd-setup-form-input> 

                <xpd-setup-form-input
                    form-name = "operationController.info"
                    label = "Average DP Length"
                    type = "number"
                    min = "1"
                    max= "20000"
                    model = "dados.operation"
                    change="operationController.casingFormCalcs(param)"
                    name = "averageDPLength"
                    required="true"
                    unit = "m">
                </xpd-setup-form-input>

                <div class="form-group" ng-class="{ 'bg-danger': operationController.info.numberOfDPPerStand.$invalid  && !operationController.info.numberOfDPPerStand.$pristine }">

                    <label for="numberOfDPPerStand">Number of DP per Stand*

                    </label>

                    <div class="input-group">

                        <label class="radio-inline" ng-repeat="key in [1, 2, 3] track by $index">

                            <input id="operation-general-info-data-numberOfDPPerStand"
                                type="radio" name="numberOfDPPerStand"
                                ng-model="dados.operation.numberOfDPPerStand" ng-value="key"
                                ng-change="operationController.casingFormCalcs('numberOfDPPerStand')"
                                required ng-checked="(dados.operation.numberOfDPPerStand == key)"> {{key}}
                        </label>

                    </div>
                    <p ng-if="operationController.info.numberOfDPPerStand.$invalid  && !operationController.info.numberOfDPPerStand.$pristine" class="text-danger">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>Please, set Number of DP per Stand
                    </p>

                </div>

                <xpd-setup-form-input
                    form-name = "operationController.info"
                    label = "Average Stand Length"
                    xpd-popover="Average DP Length x Number of DP per Stand"
                    xpd-popover-trigger="mouseenter"
                    type = "number"
                    min = "1"
                    max = "20000"
                    model = "dados.operation"
                    name = "averageStandLength"
                    disabled="true"
                    unit = "m">
                </xpd-setup-form-input>

                <xpd-setup-form-input
                    form-name = "operationController.info"
                    label = "Number of Joints"
                    xpd-popover="Settlement string size / Average stand length"
                    xpd-popover-trigger="mouseenter"
                    type = "number"
                    min = "0"
                    max = "20000"
                    model = "dados.operation"
                    name = "numberOfJoints"
                    disabled="true">
                </xpd-setup-form-input>

                <xpd-setup-form-input
                    form-name = "operationController.info"
                    label = "Last Section Shoe Depth"
                    type = "number"
                    min = "well.waterDepth +  well.airGap"
                    max= "20000"
                    model = "dados.operation"
                    name = "shoeDepth"
                    required="true"
                    unit="m">
                </xpd-setup-form-input>

                <xpd-setup-form-input
                    form-name = "operationController.info"
                    label = "Top Drive Safety Speed Limit"
                    type = "number"
                    min = "0"
                    max= "20000"
                    model = "dados.operation"
                    name = "safetySpeedLimit"
                    required="true"
                    unit="m/h">
                </xpd-setup-form-input>

                <!-- <div class="form-group">

                    <div class="checkbox">

                        <label>

                            <input type="checkbox" id="breakDPPerUnit" ng-model="dados.operation.breakDPPerUnit" name="breakDPPerUnit"> Break Drill Pipe Per Unit *

                        </label>

                    </div>

                </div>

                <div class="form-group" ng-class="{ 'has-error': operationController.info.startDepth.$invalid  && !operationController.info.startDepth.$pristine }">

                    <label for="startDepth">Start Depth

                    </label>

                    <div class="input-group">

                        <input type="number" min="0" ng-model="dados.operation.startDepth" class="form-control input-sm" name="startDepth" id="startDepth" ng-required="dados.operation.breakDPPerUnit" ng-disabled="!dados.operation.breakDPPerUnit">

                        <span class="input-group-addon">m

                        </span>

                    </div>
                    <p ng-if="operationController.info.startDepth.$invalid  && !operationController.info.startDepth.$pristine" class="text-danger">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>Please, set Start Depth
                    </p>

                </div>

                <div class="form-group" ng-class="{ 'has-error': operationController.info.endDepth.$invalid  && !operationController.info.endDepth.$pristine }">

                    <label for="endDepth">End Depth

                    </label>

                    <div class="input-group">

                        <input type="number" min="0" ng-model="dados.operation.endDepth" class="form-control input-sm" name="endDepth" id="endDepth" ng-required="dados.operation.breakDPPerUnit" ng-disabled="!dados.operation.breakDPPerUnit">

                        <span class="input-group-addon">m

                        </span>

                    </div>
                    <p ng-if="operationController.info.endDepth.$invalid  && !operationController.info.endDepth.$pristine" class="text-danger">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>Please, set End Depth
                    </p>

                </div>

                <div class="form-group" ng-class="{ 'has-error': operationController.info.breakDPUpperStop.$invalid  && !operationController.info.breakDPUpperStop.$pristine }">

                    <label for="breakDPUpperStop">Break DP Upper Stop

                    </label>

                    <div class="input-group">
                        <input type="number" min="0" ng-model="dados.operation.breakDPUpperStop" class="form-control input-sm" name="breakDPUpperStop" id="breakDPUpperStop" ng-required="dados.operation.breakDPPerUnit" ng-disabled="!dados.operation.breakDPPerUnit">

                        <span class="input-group-addon">m</span>
                    </div>
                    <p ng-if="operationController.info.breakDPUpperStop.$invalid  && !operationController.info.breakDPUpperStop.$pristine" class="text-danger">
                        <span class="glyphicon glyphicon-exclamation-sign"></span>Please, set Break DP Upper Stop
                    </p>

                </div> -->

            </div>
        </div>
    </div>

</form>
