<form name="operationController.info">

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="form-group" ng-class="{ 'has-error': operationController.info.name.$invalid  && !operationController.info.name.$pristine }">

                    <label for="name">Name*</label>

                    <input type="text" class="form-control input-sm" id="operation-general-info-data-name" ng-model="dados.operation.name" name="name"
                        required>
                </div>

                <div class="form-group" ng-class="{ 'bg-danger': operationController.info.metaType.$invalid  && !operationController.info.metaType.$pristine }">

                    <label for="metaType">Run Type*</label>

                    <div class="input-group" ng-init="dados.operation.tripin = (dados.operation.metaType == 'descendRiser')">
                        <div class="radio">
                            <label>
                                <input id="operation-general-info-data-descendRiser" type="radio" name="metaType" ng-model="dados.operation.metaType" value="descendRiser"
                                    ng-change="dados.operation.tripin = true" required> DESCEND OF DRILLING RISER
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input id="operation-general-info-data-ascentRiser" type="radio" name="metaType" ng-model="dados.operation.metaType" value="ascentRiser"
                                    ng-change="dados.operation.tripin = false" required> ASCENT OF DRILLING RISER
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">

                <xpd-setup-form-input form-name="operationController.info" label="Stick Up" xpd-popover-html="htmlPopover" xpd-popover-trigger="mouseenter"
                    xpd-popover-placement="right" type="number" min="0" max="dados.operation.upperStop" model="dados.operation"
                    name="stickUp" required="true" unit="m">
                </xpd-setup-form-input>

                <xpd-setup-form-input form-name="operationController.info" label="Upper Stop" type="number" min="dados.operation.stickUp"
                    max="20000" model="dados.operation" name="upperStop" required="true" unit="m">
                </xpd-setup-form-input>

                <xpd-setup-form-input form-name="operationController.info" label="Put Slips Time" xpd-popover-html="htmlPopover" xpd-popover-trigger="mouseenter"
                    xpd-popover-placement="right" type="number" min="0" max="20000" model="dados.operation" change="dados.operation.inSlipsDefault = dados.operation.inSlips"
                    name="inSlips" required="true" unit="sec">
                </xpd-setup-form-input>

                <xpd-setup-form-input form-name="operationController.info" label="Block Weight" type="number" min="0" max="20000" model="dados.operation"
                    name="blockWeight" required="true" unit="klb">
                </xpd-setup-form-input>

                <xpd-setup-form-input form-name="operationController.info" label="Slips Threshold" type="number" min="0" max="20000" model="dados.operation"
                    name="slipsThreshold" required="true" unit="klb">
                </xpd-setup-form-input>

                <xpd-setup-form-input form-name="operationController.info" label="BOP Length" type="number" min="0" max="dados.operation.startHoleDepth"
                    model="dados.operation" change="operationController.riserFormCalcs(param)" name="length" required="true"
                    unit="m">
                </xpd-setup-form-input>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">

                <xpd-setup-form-input form-name="operationController.info" xpd-popover="Usually 0" xpd-popover-trigger="mouseenter" label="Start Operation Depth"
                    type="number" min="0" max="dados.operation.startHoleDepth" model="dados.operation" name="startBitDepth" required="true"
                    unit="m">
                </xpd-setup-form-input>

                <xpd-setup-form-input form-name="operationController.info" label="Average Riser Joint Length" type="number" min="1" max="20000"
                    model="dados.operation" change="operationController.riserFormCalcs(param)" name="averageJointLength" required="true"
                    unit="m">
                </xpd-setup-form-input>

                <div class="form-group" ng-class="{ 'has-error': operationController.info.numberOfRiserPerSection.$invalid  && !operationController.info.numberOfRiserPerSection.$pristine }">
                    <label for="numberOfRiserPerSection">Number of Riser per Section*
                    </label>
                    <div class="input-group">
                        <label class="radio-inline">
                            <input id="operation-general-info-data-numberOfRiserPerSection" type="radio" name="numberOfRiserPerSection" ng-model="dados.operation.numberOfRiserPerSection"
                                value="1" ng-checked="dados.operation.numberOfRiserPerSection == 1" ng-change="operationController.riserFormCalcs('numberOfRiserPerSection')"
                                required> 1
                        </label>
                    </div>
                </div>

                <xpd-setup-form-input form-name="operationController.info" label="Average Riser Section Length" xpd-popover="Average Riser Joint Length x Number of Riser per Section"
                    xpd-popover-trigger="mouseenter" type="number" min="0" max="20000" model="dados.operation" change="operationController.riserFormCalcs(param)"
                    name="averageStandLength" disabled="true" unit="m">
                </xpd-setup-form-input>

                <xpd-setup-form-input form-name="operationController.info" label="Number of Joints/Section" xpd-popover="End Bit Depth / Average Riser Section Length"
                    xpd-popover-trigger="mouseenter" type="number" min="0" max="20000" model="dados.operation" change="operationController.riserFormCalcs(param)"
                    name="numberOfJoints" required="true">
                </xpd-setup-form-input>

                <xpd-setup-form-input form-name="operationController.info" label="End Bit Depth" xpd-popover="Number of Joints/Section x Average Riser Section Length"
                    xpd-popover-trigger="mouseenter" type="number" min="0" max="20000" model="dados.operation" change="operationController.riserFormCalcs(param)"
                    name="startHoleDepth" required="true" unit="m">
                </xpd-setup-form-input>

                <xpd-setup-form-input form-name="operationController.info" label="Top Drive Safety Speed Limit" type="number" min="0" max="20000"
                    model="dados.operation" name="safetySpeedLimit" required="true" unit="m/h">
                </xpd-setup-form-input>
            </div>
        </div>
    </div>

</form>