<form name="operationController.info">

    <div class="col-md-3">
        <div class="list-group">
            <a class="list-group-item disabled">Defaults</a>
            <a class="list-group-item" ng-click="operationController.actionTimeOperationItemClick(false, 'slipAndCut', 'Slip and Cut', 2)">
                Slip and Cut 2h
            </a>
            <a class="list-group-item" ng-click="operationController.actionTimeOperationItemClick(false, 'slipJoint','Slip Joint Inst./Remov.', 4)">
                Slip Joint Inst./Remov. 4h
            </a>
            <a class="list-group-item" ng-click="operationController.actionTimeOperationItemClick(false,'diverterInstRemov','Diverter Inst./Remov.', 1.5)">
                Diverter Inst./Remov. 1.5h
            </a>
            <a class="list-group-item" ng-click="operationController.actionTimeOperationItemClick(false, 'beaconsLaunch','Beacons Launching and DP Calibration', 10)">
                Beacons Launching and DP Calibration 10h
            </a>
            <a class="list-group-item" ng-click="operationController.actionTimeOperationItemClick(true, 'customTimeOperation')">
                Custom
            </a>
        </div>
    </div>

    <div class="col-md-9">

        <div class="panel-default">

            <form name="operationController.info">

                <div class="form-group col-md-12" ng-class="{ 'has-error': operationController.info.name.$invalid  && !operationController.info.name.$pristine }">
                    <label for="name">Name*</label>

                    <input type="text" class="form-control" id="name" maxlength="100" xpd-form-validation="operationController.info" ng-model="dados.operation.name"
                        autofocus="true" name="name" required ng-disabled="dados.operation.custom == false">
                </div>

                <div class="col-md-6">
                    <xpd-setup-form-input form-name="operationController.info" label="Block Weight" type="number" min="0" max="20000" model="dados.operation"
                        name="blockWeight" required="true" unit="klb">
                    </xpd-setup-form-input>
                </div>

                <div class="col-md-6">
                    <xpd-setup-form-input form-name="operationController.info" label="Slips Threshold" xpd-popover-html="htmlSlipsThreshold"
                        xpd-popover-trigger="mouseenter" xpd-popover-placement="top" type="number" min="0" max="20000" model="dados.operation"
                        name="slipsThreshold" required="true" unit="klb">
                    </xpd-setup-form-input>
                </div>

                <div class="col-md-11">
                    <div class="col-md-4">

                        <div class="form-group" ng-class="{ 'has-error': operationController.info.voptimum.$invalid  && !operationController.info.voptimum.$pristine }">
                            <label for="voptimum">Optimum Time*</label>

                            <xpd-contract-time-input 
                                at-most="Standard Time" 
                                min="{{dados.operation.contractParams.timeSpeed.vstandard}}" 
                                contract-time-form="operationController.info"
                                ng-model="dados.operation.contractParams.timeSpeed.voptimum" 
                                ng-change="operationController.onVoptimumChange(dados.operation.contractParams.timeSpeed.voptimum)"
                                id="voptimum" 
                                name="voptimum" />

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group" ng-class="{ 'has-error': operationController.info.vstandard.$invalid  && !operationController.info.vstandard.$pristine }">
                            <label for="vstandard">Standard Time*</label>

                            <xpd-contract-time-input 
                                at-least="Optimum Time" 
                                at-most="Poor Time" 
                                min="{{dados.operation.contractParams.timeSpeed.vpoor}}"
                                max="{{dados.operation.contractParams.timeSpeed.voptimum}}" 
                                contract-time-form="operationController.info"
                                ng-model="dados.operation.contractParams.timeSpeed.vstandard" 
                                name="vstandard" 
                                id="vstandard"
                            />

                        </div>
                    </div>

                    <div class="col-md-4">

                        <div class="form-group" ng-class="{ 'has-error': operationController.info.vpoor.$invalid  && !operationController.info.vpoor.$pristine }">
                            <label for="vpoor">Poor Time*</label>

                            <xpd-contract-time-input at-least="Standard Time" max="{{dados.operation.contractParams.timeSpeed.vstandard}}" ng-model="dados.operation.contractParams.timeSpeed.vpoor"
                                contract-time-form="operationController.info" name="vpoor" id="vpoor" />

                            <span class="form-error-message" ng-show="operationController.info.vpoor.$error.valid || hasContractError('timeSpeed.vpoor')">
                                Poor Time must be greater Standard Time
                            </span>

                        </div>
                    </div>
                </div>

                <div class="col-md-1 checkbox">
                    <label>
                        <input type="checkbox" ng-model="dados.operation.contractParams.timeSpeed.ssoIndicator"> SSO
                    </label>
                </div>
            </form>
        </div>

        <div class="row" ng-show="dados.operation.contractParams.timeSpeed.voptimum != null">
            <div class="col-md-12" ng-init="dados.operation.timeSlices = ( dados.operation.timeSlices | filter: { tripin: true } )">

                <xpd-time-slices-table 
                    name="leftPercentage" 
                    time-slice-form="operationController.info" 
                    ng-model="dados.operation.timeSlices"
                    duration="{{3600 / dados.operation.contractParams.timeSpeed.voptimum}}">
                </xpd-time-slices-table>

            </div>
        </div>


    </div>
</form>