xpd-performance-progress-bar {
	.performance-progress-bar-content {
    	padding: 1px 2px 17px;
	}
	
	.performance-progress-bar {
		padding: 3px;
	}

	.performance-progress-bar-legend {
		height: 5px;
	}

	.performance-progress-bar-label {
		font-size: 12px;
	}
}