<fieldset ng-if="!drillerView" ng-disabled="!currentOperation">

    <div class="btn-group">

        <button type="button" ng-if="currentOperation == null" class="btn btn-primary xpd-nav-button disabled">
            No operation
        </button>

        <button type="button" ng-if="currentOperation != null && !currentOperation.running" class="btn btn-primary xpd-nav-button"
            ng-click="clickStartOperation()" disabled="true">
            Start Operation {{ (currentOperation)? currentOperation.name : "No operation" }}

        </button>

        <button type="button" ng-if="currentOperation != null && currentOperation.running" class="btn btn-primary xpd-nav-button" disabled="true"
            ng-click="actionButtonFinishOperation()">
            Finish Operation {{ (currentOperation)? currentOperation.name : "No operation" }}

            <span class="button-bellow-label">{{ currentEvent.state | xpdStateLabelFilter }} | {{ currentEvent.eventType | xpdEventLabelFilter }}
            </span>
        </button>

        <!-- <button 
            type="button" 
            ng-if="currentOperation != null && currentOperation.running"
            class="btn btn-primary xpd-nav-button" 
            ng-click="onClickStartMakeUp()">Start Make Up
        </button> -->

        <button type="button" ng-if="currentOperation != null && currentOperation.running && currentState == 'makeUp'" class="btn btn-primary xpd-nav-button"
            ng-click="onClickFinishMakeUp()">
            Finish Make Up
        </button>

        <button type="button" ng-if="currentState != 'makeUp' && currentOperation.running == true && currentDirection.tripin && currentDirection.tripin !=null && (currentOperation.type == 'bha' || currentOperation.type == 'riser') && !currentAlarm.isDurationAlarm"
            class="btn btn-primary xpd-nav-button disabled">
            Make Up Finished
        </button>

        <button type="button" ng-if="currentOperation != null && currentOperation.running == true  && !currentDirection.tripin && currentDirection.tripin != null && currentState != 'layDown' && (currentOperation.type == 'bha' || currentOperation.type == 'riser')"
            class="btn btn-primary xpd-nav-button" ng-show="!currentAlarm" ng-click="onClickStartLayDown()">
            Start Lay Down
        </button>

        <button type="button" ng-if="currentState == 'layDown'" class="btn btn-primary xpd-nav-button" ng-click="onClickFinishLayDown()">
            Finish Lay Down
        </button>

        <button type="button" ng-if="currentAlarm.isDurationAlarm" class="btn btn-primary xpd-nav-button" ng-click="onClickFinishDurationAlarm()">
            Finish Duration Alarm</a>
        </button>

        <button type="button" class="btn btn-primary xpd-nav-button disabled" ng-if="currentOperation.running == true && currentOperation.type == 'casing' 
            && !currentOperation.cementingFinished && currentState != 'cementation'
            && bitDepthContext.bitDepth < (currentOperation.endBitDepth - currentOperation.length)" ng-click="actionDisabledCementation()">
            Start Cementation
        </button>

        <button type="button" class="btn btn-primary xpd-nav-button" ng-if="currentOperation.running == true && currentOperation.type == 'casing'
            && !currentOperation.cementingFinished && currentState != 'cementation'
            && bitDepthContext.bitDepth >= (currentOperation.endBitDepth - currentOperation.length)
            && bitDepthContext.bitDepth >= (currentOperation.endBitDepth - currentOperation.length)" ng-show="!currentAlarm"
            ng-click="actionButtonStartCementation()">
            Start Cementation
        </button>

        <button type="button" class="btn btn-primary xpd-nav-button" ng-if="currentOperation.running == true && currentOperation.type == 'casing'
            && !currentOperation.cementingFinished && currentState == 'cementation'
            && bitDepthContext.bitDepth >= (currentOperation.endBitDepth - currentOperation.length)" ng-show="!currentAlarm"
            ng-click="actionButtonStopCementation()">
            Finish Cementation
        </button>

        <button type="button" class="btn btn-primary xpd-nav-button disabled" ng-if="currentOperation.running == true && currentOperation.type == 'casing' && currentOperation.cementingFinished">
            Cementing Finished
        </button>

        <button type="button" uib-popover-template="operationQueuePopover.templateUrl" popover-class="xpd-green-styled-box-popover"
            popover-placement="{{popoverPlacement || 'bottom-right'}}" popover-trigger="'mouseenter'" class="btn btn-primary xpd-nav-button">
            <i class="glyphicon glyphicon-th-list"></i>
        </button>

    </div>

</fieldset>

<!-- operationmanager.template.html -->
<script type="text/ng-template" id="operationmanager.template.html">

    <table class="table table-condensed equilibrium-time-table">
        <thead>
        <tr>
            <th class="equilibrium-time-table-title" colspan="2">Operation Queue</th>
        </tr>

        <tr>
            <th class="equilibrium-time-table-title">Operation Name</th>
            <th class="equilibrium-time-table-title">Type</th>
        </tr>

    </thead>
        <tbody>
        <tr ng-repeat="operation in operationQueue" ng-class="{'active':operation.current}">
            <td class="equilibrium-time-table-label">{{ operation.name }}</td>
            <td class="equilibrium-time-table-text">{{ operation.type | uppercase }}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr ng-if="operation != null || operation.length == 0">
            <td class="equilibrium-time-table-label" colspan="2">No Operation</td>
        </tr>
        </tfoot>
    </table>

</script>