<div class="panel panel-default">

	<div class="panel-heading clearfix" ng-click="changePanelState()">
		<h4 class="panel-title pull-left">Consistency Information</h4>
		<div class="btn-group pull-right">
			<i 
				type="button" 
				class="pull-right glyphicon pointer" 
				ng-class="{'glyphicon-chevron-down': collapse, 'glyphicon-chevron-up': !collapse}">
			</i>
		</div>
	</div>

	<div class="panel-body" uib-collapse="collapse">

		<table class="table table-sm table-condensed">
			<tr>
				<th>Status</th>
				<td>{{ state | xpdStateLabelFilter }}</td>
				<td ng-if="event.eventType != 'CONN'">
					<span ng-if="isTripin" class="glyphicon glyphicon-arrow-down"></span>
					<span ng-if="!isTripin" class="glyphicon glyphicon-arrow-up"></span>
					<span ng-if="state != 'drilling'">
						Trip {{ isTripin?'In': 'Out' }}
					</span>
				</td>
				<td ng-if="event.eventType == 'CONN'">
					{{ event.eventType | xpdEventLabelFilter }}
				</td>
			</tr>
			<tr>
				<th>Consistency</th>
				<td colspan="3"></td>
			</tr>
			<tr>
				<td colspan="3" class="borderless-top">
					<div class="progress">
						<div 
							class="progress-bar progress-bar-striped active progress-bar-success" 
							role="progressbar" 
							aria-valuemin="0" 
							aria-valuemax="100"
						 	ng-style="{ width: score + '%' }">
							<span class="show">{{ score | number:0 }}</span>
						</div>
					</div>
				</td>
			</tr>
		</table>

		<div class="col-md-12 text-center">
			<strong>Current Activity</strong>
		</div>

		<div class="col-md-6 nopadding">
			<xpd-performance-progress-bar
				title="Last Event ({{lastEventType | xpdEventLabelFilter}})"
				current-value="{{ duration[lastEventType] }}"
				low-value= "{{ contractTimePerformance[lastEventType].voptimumTime }}",
				medium-value= "{{ contractTimePerformance[lastEventType].vstandardTime }}",
				high-value= "{{ contractTimePerformance[lastEventType].vpoorTime }}">
			</xpd-performance-progress-bar>
		</div>

		<div class="col-md-6 nopadding">
			<xpd-performance-progress-bar
				title="Current Event ({{currentEventType | xpdEventLabelFilter}})"
				current-value="{{ (currentEventDuration / 1000) }}"
				low-value= "{{ contractTimePerformance[currentEventType].voptimumTime }}",
				medium-value= "{{ contractTimePerformance[currentEventType].vstandardTime }}",
				high-value= "{{ contractTimePerformance[currentEventType].vpoorTime }}"
				is-real-time="true">
			</xpd-performance-progress-bar>
		</div>

		<div class="col-md-12 nopadding">
			<xpd-performance-progress-bar
				title="Current Joint"
				current-value="{{ (currentJointDuration / 1000) }}"
				low-value= "{{ contractTimePerformance['BOTH'].voptimumTime }}",
				medium-value= "{{ contractTimePerformance['BOTH'].vstandardTime }}",
				high-value= "{{ contractTimePerformance['BOTH'].vpoorTime }}"
				is-real-time="true">
			</xpd-performance-progress-bar>
		</div>

		<div class="col-md-12 text-center">
			<strong>Last Activity</strong>
		</div>

		<div class="col-md-6 nopadding" ng-repeat="eventType in ['CONN', 'TRIP']">
			<xpd-performance-progress-bar
				title="Last {{eventType | xpdEventLabelFilter}} Done"
				current-value="{{ duration[eventType] }}"
				low-value= "{{ contractTimePerformance[eventType].voptimumTime }}",
				medium-value= "{{ contractTimePerformance[eventType].vstandardTime }}",
				high-value= "{{ contractTimePerformance[eventType].vpoorTime }}">
			</xpd-performance-progress-bar>
		</div>

		<div class="col-md-12 nopadding">
			<xpd-performance-progress-bar
				title="Last Joint Done"
				current-value="{{ getLastJointDuration() }}"
				low-value= "{{ contractTimePerformance['BOTH'].voptimumTime }}",
				medium-value= "{{ contractTimePerformance['BOTH'].vstandardTime }}",
				high-value= "{{ contractTimePerformance['BOTH'].vpoorTime }}">
			</xpd-performance-progress-bar>
		</div>

	</div>

</div>