<form name="amuController.alarmForm" accept-charset="utf-8">

    <xpd-register-alarm-modal
        alarm="alarm"
        operation= "operation"
        alarm-type = "depth"
        modal-title= "Depth Alarm details"
        alarm-form="amuController.alarmForm"
        action-save-alarm= "amuController.actionButtonSave()"
        action-cancel-alarm= "amuController.actionButtonClose()">
    </xpd-register-alarm-modal>

</form>

<script type="text/ng-template" id="alarm-info-upsert-optimum-time.html">

    <xpd-contract-time-input 
        id='optimumTime' 
        disabled="{{alarm.startDepth != alarm.endDepth}}"
        required="{{alarm.startDepth == alarm.endDepth}}" 
        ng-model="alarm.optimumSpeed"
        name="optimumSpeed"/>

</script>