<form name="usForm">

    <div class="modal-content">

    <div class="modal-header">
        <h3>Delete <strong>ALL</strong> schedules of this member </h3>
    </div>

        <div class="modal-body">

            <table class="table">
				<tbody>
					<tr>
						<td>
							<h4>Start Date</h4>
						</td>
						<td>
							<div class="col-md-6" max="modalData.endDate" uib-datepicker name="startDate" ng-model="modalData.startDate" required></div>
						</td>
						<td>
							<div class="col-md-6" max="modalData.endDate" uib-timepicker name="startDate" ng-model="modalData.startDate" hour-step="1"
							    minute-step="30" show-meridian="true" required></div>
						</td>
					</tr>
					<tr>
						<td>
							<h4>End Date</h4>
						</td>
						<td>
							<div class="col-md-6" min="modalData.startDate" uib-datepicker name="endDate" ng-model="modalData.endDate" required></div>
						</td>
						<td>
							<div class="col-md-6" min="modalData.startDate" uib-timepicker name="endDate" ng-model="modalData.endDate" hour-step="1"
							    minute-step="30" show-meridian="true" required></div>
						</td>
					</tr>
				</tbody>
			</table>

        </div>

        <div class="modal-footer">
            <button class="btn btn-danger"
                    ng-disabled="(modalData.endDate < modalData.startDate)"
                    ng-click="ueController.actionButtonRemove()">Delete Interval
            </button>

            <button class="btn btn-secondary"
                    ng-click="ueController.actionButtonCancel()">Cancel
            </button>
        </div>

    </div>

</form>        